#<IfModule mod_rewrite.c>
 #   RewriteEngine on
 #   RewriteRule    ^$    public/    [L]
#	RewriteRule ^(.*)$ public/$1 [L]
 #   #RewriteRule    (.*) public/$1    [L]
 #</IfModule>
 
    RewriteEngine On

    RewriteCond %{REQUEST_URI} !-f
    RewriteCond %{REQUEST_URI} !-d
    RewriteCond %{REQUEST_URI} !-l
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]
